<table class="table table-striped m-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">EmployeeId</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">EmailAddress</th>
      <th scope="col">Age</th>
      <th scope="col">Role</th>
      <th scope="col">Sex</th>
      <th scope="col">Departments</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ employee.employeeId }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.emailAddress }}</td>
      <td>{{ employee.age }}</td>
      <td>{{ employee.role }}</td>
      <td>{{ employee.sex }}</td>
      <td>
        <ul>
            <li *ngIf="employee.departments!.length===0">---</li>
            <li *ngFor="let department of employee.departments">{{department.name}}<input type="button" (click)="removeDepartmentFromEmployee(employee, department)" value="X"/></li>      
        </ul>  
        <input type="button" class="btn btn-danger" (click)="addDepartmentToEmployee(employee)" value="Add"/>
    </tr>
    </tbody>
  </table>

